data/training-set/doodles_data/*
data/training-set/number_data/* 

.env/Lib/site-packages/*
!.env/Lib/site-packages/pip/
!.env/Lib/site-packages/pip/**
!.env/Lib/site-packages/pip-24.2.dist-info/
!.env/Lib/site-packages/pip-24.2.dist-info/**