data/training-set/doodles_data/*
data/training-set/number_data/* 
data/training-set/letters_data/*
data/training-set/doodles_csv/*

.env
.env/
.env/*
__pycache__/
*.pyc

src/backend/models/*
!.gitkeep
